@import url(https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap);

*{
    font-family: 'Silkscreen';
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0;
}

body{
    max-width: 100%;
}

#content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: orange;
    row-gap: 20px;
}

.card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-height: 400px;
    min-height: 300px;
    border: 2px solid black;
    border-radius: 20px;
    background-color: greenyellow;
    padding: 10px;
}

li{
    list-style: none;
    display: inline;
}

.gif-sprite{
    width: 200px;
}